<%- include('includes/layout'); %>

<!--<div class="bg-primary">-->
    <div class="container">
      <div class="row">
		 <div class="col-lg-8">
		 	<% for(var results of result) {  %>
          <div class="card" >
            <div class="card-header bg-primary">Book Name: <%= results.book_name %></div>
            
            <div class="card-body">
              <div class="col-lg-4">
                  <img src="/images/<%= results.image %>" class="rounded float-left" alt="..." style="padding: 2px 2px 2px -2px; width:100px;height:150px;">
            </div>

              <div class="text-float-left">
              <h4>Author: <%= results.author %></h4>
              <p>Description: <%= results.summary %></p>
              <h6>ISBN: <%= results.isbn %></h6>
              <span>Category: <%= results.category %></span>

              </div>
            </div>

            <div class="card-footer ">
            <form method="post" action="/<%= result.id %>/delete?_method=DELETE"></form>
            <a href="/addbooks/<%= results.id %>/<%=results.book_url %>" class="btn btn-info">View Details</a>
            <a href="/<%= results.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/<%= results.id %>/delete" class="btn btn-danger">Delete</a>
            <button type="submit" class="btn btn-primary float-right">Buy Now</button>
            </form>
          </div>
          </div>
          
          <% } %>
      	</div>
      	<!--This is side bar -->
      	<div class="col-lg-4">
          <div class="card">
            <div class="card-header bg-primary"> Add Books </div>
             <form id="c_form-h" class="" method="post" action="/addbooks" enctype="multipart/form-data" style="padding: 5px;">  

             
            <div class="form-group row">
            	 <label for="addbookname" class="col-6 col-form-label">Book Name</label>
             <div class="col-12">
                <input type="text" class="form-control" name="book_name" placeholder="Add Book Name" required> 
            </div>
            </div>
            
             
            <div class="form-group row">
            	<label for="addsummary" class="col-6 col-form-label">Summary</label>
              <div class="col-12">  
              <textarea class="form-control" name="summaries" placeholder="Write Some Description" rows="3" required>	
              </textarea>
            </div>
        </div>

            
            <div class="form-group row">
            	<label for="addcategory" class="col-9 col-form-label">Select Category</label>
              <div class="col-12">
                <input type="number" class="form-control" name="isbn" placeholder="ISBN" required> 
            </div>
            </div>

            <div class="form-group row">
                <label for="addimage" class="col-9 col-form-label">Add Image</label>
                <div class="col-12">
                  <input type="file" class="form-control-file" name="image" required> 
              </div>
              </div>

             
             <div class="form-group row">
             	<label for="addcategory" class="col-9 col-form-label">Select Category</label>
               <div class="col-12">
                  <select class="form-control" name="categories" required>
                    <option></option>
                    <option>Fruits</option>
                    <option>Intercontinental Foods</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                </div>
             <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        </div>
      	
      
      </div>
    </div>

    
  <!--</div>-->
<%- include('includes/footer'); %>